@page
@using SampleRazorPage.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .background-image {
        background-image: url('https://www.koltepatil.com/blog/wp-content/uploads/2024/08/Infographic-Blog-1-Banner-Image.jpg'); /* Replace with your image URL */
       
        height: 50vh; /* Half of the viewport height */
        width: 100%; /* Full width */
        background-size: cover; /* Cover the entire div */
        background-position: center; /* Center the image */
        display: flex; /* Use flexbox to center text */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        color: white; /* Text color */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional shadow for better readability */
    }
</style>

<div class="background-image">
    <h1>Best Ceiling Designers in Shivamogga</h1>
    <p>Your descriptive text goes here.</p>
</div>

<br/>


@*Sliding images*@
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-indicators">
        @for (int i = 0; i < Model.carouselViewModel.Images.Count; i++)
        {
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="@((i == 0) ? "true" : "false")" aria-label="Slide @i"></button>
        }
    </div>
    <div class="carousel-inner">
        @for (int i = 0; i < Model.carouselViewModel.Images.Count; i++)
        {
            <div class="carousel-item @((i == 0) ? "active" : "")">
                <img src="@Model.carouselViewModel.Images[i].Url" class="d-block w-100" alt="@Model.carouselViewModel.Images[i].AltText">

                @* caption *@
                <div class="carousel-caption d-none d-md-block">
                    <h5>@Model.carouselViewModel.Images[i].Title</h5>
                   @*  <p>@Model.carouselViewModel.Images[i].Description</p> *@
                    <p>A well-designed false ceiling can change the looks of your bedroom completely. Not only does it add beauty to the entire room, but it also offers a functional look to your bedroom, such as lighting and sound insulation. Let’s go through the top five best design options for false ceilings that would be fit to give your bedroom an elegant and modern look.</p>
                </div>

            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


